//====================================================================================================

//====================================================================================================

.header {
	&__container {
		display: flex;
		min-height: 120px;
		align-items: center;
		@media (max-width: $md2) {
			min-height: 100px;
		}
		@media (max-width: $md3) {
			min-height: 80px;
		}
	}

	&__logo {
		font-family: Montserrat;
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		color: #192252;
	}

	&__menu {
		flex: 1 1 auto;
		justify-content: center;
	}

	&__button {
		display: flex;
		align-items: center;
		flex: 0 0 200px;
		position: relative;
		z-index: 5;
		justify-content: flex-end;
	}
}

.menu {
	display: flex;

	&__body {
		@media (max-width: $md3) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			background-color: #d0d6d6;
			padding: 120px 15px 30px 15px;
			transition: 0.3s linear;
			overflow: auto;
			&.active {
				right: -40%;
			}
		}
	}

	&__list {
		display: flex;
		gap: 32px;

		@media (max-width: $md3) {
			gap: 30px;
			flex-direction: column;
			text-align: left;
		}
	}

	&__item {
	}

	&__link {
		display: inline-block;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #192252;
		@media (max-width: $md3) {
			font-size: 30px;
		}
	}
}
.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding: 14px 16px;
	background-color: #0e1734;
	color: #fff;
	border-radius: 4px;
	transition: 0.1s linear;
	cursor: pointer;
	&:hover {
		background-color: #0f215f;
	}
}
.icon__menu {
	display: none;
	
	

	@media (max-width: 768px) {
		display: flex;
		flex: 0 0 30px;
		position: relative;
		top: 0;
		left: 0;
		height: 18px;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20px;
		transition: 0.1s ;

		&::before,
		&::after {
			left: 0;
			position: absolute;
			width: 100%;
			content: "";
			background-color: #000;
			transition: 0.2s linear;
			height: 2px;
			transition: all 0.3s ease 0s ;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&.active::before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		& span {
			position: absolute;
			left: 0;
			top: 9px;
			width: 100%;
			height: 1px;
			background-color: #000;
			&.active {
				transform: scale(0);
			}
		}
		&.active span {
				transform: scale(0);
			}
	}
}
