@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "inter";
$fontSize: 18px;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1230px;
$md1: $maxWidthContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	background-color: rgb(255, 249, 249);

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.reservation {
	padding: 45px 0px 96px 0;
	@media (max-width: $md3) {
		padding: 20px 0 50px 0;
	}
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: $md1) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 512px;
		@media (max-width: $md1) {
			flex: 0 0 auto;
		}
	}

	&__images {
		padding: 0 0 0 38px;
		@media (max-width: $md1) {
			padding: 40px 0 0 0;
		}
	}
}

.block-text {
	&__title {
		font-family: Montserrat;
		font-weight: 600;
		font-size: 48px;
		line-height: 46px;
		letter-spacing: -0.01em;
		color: #192252;

		@media (max-width: $md2) {
			font-size: 35px;
			line-height: 60px;
		}
	}

	&__text {
		font-family: Inter;
		font-size: 18px;
		line-height: 27px;
		color: #848fac;
		padding: 24px 0 32px 0;
	}
}

.images-reservation {
	max-width: 100%;
	&__house1 {
		@media (max-width: 610px) {
			display: none;
		}
	}

	&__house2 {
		padding: 81px 20px 0 20px;
		@media (max-width: 610px) {
			display: none;
		}
	}

	&__house3 {
		@media (max-width: 610px) {
			display: none;
		}
	}
	&__house-full {
		display: none;
		@media (max-width: 610px) {
			display: inline-block;
			max-width: 100%;
		}
	}
}
.learn-more {
	padding: 73px 0 57px 0;
	@media (max-width: $md3) {
		padding: 0 0 30px 0;
	}
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: 992px) {
			flex-direction: column-reverse;
		}
	}

	&__image {
		max-width: 100%;
	}

	&__content {
		flex: 0 1 70%;
		padding: 0 0 0 128px;
		@media (max-width: 992px) {
			flex: 0 0 auto;
			padding: 0 0 30px 0;
		}
	}
}

.activities {
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md3) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 584px;
		@media (max-width: $md2) {
			flex: 1 1 auto;
		}
	}

	&__image {
		padding-left: 50px;

		@media (max-width: $md3) {
			padding-left: 0;
		}
	}
	
}
.food {
	padding: 15px 0 80px 0;

	&__container {
		display: flex;
		align-items: center;
		@media (max-width: $md3) {
			flex-direction: column-reverse;
		}
	}

	&__image {
		margin-right: 126px;
		@media (max-width: $md1) {
			margin-right: 80px;
		}
		@media (max-width: $md3) {
			margin-right: 0px;
		}

		&__content {
			@media (max-width: $md3) {
				flex: auto;
			}
		}
	}
}
.rooms {
	

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	
	&__items {
		padding-bottom: 80px;
		@media (max-width: $md1) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		display: flex;
	}

	&__item {
		margin-right: 24px;

		@media (max-width: $md1) {
			margin-right: 0px;
			margin-bottom: 50px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}



.item-rooms {
	&__image {
		max-width: 100%;
	}

	&__title {
		padding: 32px 0 16px 0;
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
	}

	&__text {
		text-align: left;
		max-width: 370px;
		font-size: 18px;
		line-height: 150%;
		padding-bottom: 27px;

		color: #848fac;
	}

	
}
.rooms-link {
	max-width: 140px;
	display: flex;
	align-items: center;

	&__element {
		font-family: Inter;
		font-size: 18px;
		line-height: 150%;
		padding-right: 14px;
		color: #424f7b;
	}

	&__icon {
		text-align: center;
	}
}
.contact {
	padding: 80px 0 68px 0;
	@media (max-width: $md2) {
		padding: 0px 0 30px 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2) {
			flex-direction: column;
		}
	}

	&__content {
		padding-top: 100px;
		flex: 0 0 550px;
		@media (max-width: $md2) {
			padding: 0;
		}
		@media (max-width: $md2) {
			flex: 0 0 400px;
		}
		@media (max-width: $md1) {
			padding-right: 20px;
		}
	}

	&__subtitle {
		font-weight: 500;
		padding: 0 0 12px;
		font-size: 16px;
		line-height: 24px;
		color: #424f7b;
	}

	

	&__item {
		flex: 1 1 auto;
		justify-content: space-between;
		padding: 32px 36px;
		border: radius 4px;
		background: #fff;
		box-shadow: 6px 14px 39px -34px rgba(66, 68, 90, 1);
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.block-text {
	

	
	&__more {
		font-family: Inter;
		padding-left: 20px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
	}
}

.item-contact {
	display: flex;
	align-items: center;
	&_orange {
		display: flex;
		max-width: 500px;
		align-items: baseline;
		@media (max-width: $md2) {
			max-width: 100%;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
		color: #424f7b;
		@media (max-width: $md3) {
			font-size: 18px;
		}
	}

	&__icon {
		border-radius: 50px;
		background-color: #ffece2;
		padding: 16.5px 13px;
		cursor: pointer;
		@media (max-width: $md3) {
			margin: 0 0 0 10px;
		}
		&:hover {
			transform: rotate(180deg);
			transition: 0.3s linear;
			background-color: #192252;
			color: #fff;
		}
		&_orange {
			display: none;
		}
	}

	&__describe {
		font-size: 18px;
		line-height: 150%;
		color: #848fac;
		@media (max-width: $md3) {
			font-size: 15px;
		}
	}
}
.reviews {
	padding: 80px 0 120px 0;
	
	&__content {
		text-align: center;
		max-width: 700px;
		margin: 0 auto;
	}
	&__title {
		font-family: Montserrat;
		font-weight: 600;
		font-size: 36px;
		line-height: 54px;
		letter-spacing: -0.01em;
		padding-bottom: 62px;
		color: #192252;
	}



	&__text {
		font-family: Inter;
		font-size: 18px;
		line-height: 27px;
		color: #848fac;
		padding: 40px 0 40px 0;
	}

	&__name {
		font-family: Inter;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #192252;
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
